.App {
  text-align: center;
}

.App-header {
  background-color: #1E1B18;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFAFF;
}

h1 {

}

.Accent {
  color: #D8315B;
  text-shadow: 2px 2px 0px #0A2463;
}

.WordCycler {
  position: relative;
  width: 8em;
  background: #FFFAFF;
  color: #0A2463;
  display: inline-block;
  border-radius: 4em;
  padding: 0.1em 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  transform-style: preserve-3d;
  -webkit-animation: spin 8s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotateY(0); }
  to   { -webkit-transform: rotateY(-360deg); }
}

.WordCyclePlane {
  transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
  position: absolute;
  height: 200px;
  width: 200px;
}