*, *::before, *:after {
  transition: all .225s cubic-bezier(0.1, 0.51, 0.9, 0.63);
}

a {
  color: #D8315B;
  cursor: pointer;
  text-decoration-color: #D8315B;
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

.App {
  text-align: center;
  user-select: none;
}

.ResumeContainer {
  padding: 1em;
  overflow: hidden;
  &.Fade::before {
    opacity: 0;
    transform: scale(2);
    transition-duration: all .2s cubic-bezier(0.1, 0.51, 0.9, 0.63);
  }
  &.Empty::before {
    transition-duration: 0s;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin: center;
    background: hsla(345, 68%, 22%, 1);
    z-index: 1;
    pointer-events: none;
    border-radius: 100%; 
    opacity: 1;
    transition-duration: all 0s;
  }

  &:hover {
    cursor: pointer;
    .MainCTA {
      box-shadow: none;
      outline: 6px solid #3E92CC;
      color:  #3E92CC;
      border-color: #D8315B;
      text-shadow: 1px 1px 0 #222, -1px 1px 0 #222, 1px -1px 0 #222, -1px -1px 0 #222;  
      letter-spacing: 8px;
    }
  }
  &.Engaged:before {
    transform: scale(2);
    transition-duration: all .5s cubic-bezier(0.1, 0.51, 0.9, 0.63);
  }
}

.IntroPanel {
  background-color: #1E1B18;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFAFF;
  animation: IntroThrob 30s infinite;
}

.MainCTA {
  background: #D8315B;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 1px #3E92CC;
  color: #222;
  font-size: 1.6em;
  padding: 0.2em 0.8em;
  outline: 6px solid #222;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 0 transparent;
  z-index: 2;    
  position: relative;
  cursor: pointer;
  margin-top: 2em;
  font-weight: 800;
  width: 8em;
  height: 2em;
  transition: all .225s cubic-bezier(0.1, 0.51, 0.9, 0.63), letter-spacing 0.5s cubic-bezier(0.15, 0.46, 0.75, 1.13);
}

.SummaryPanel {
  padding: 5vh 0;

  .Accent {
    font-weight: 400;
    text-shadow: 1px 1px 0 #222;
  }
}

@keyframes IntroThrob {
  0% { background: unquote("hsla(0, 20%, 14%, 1)")}
  50% { background: unquote("hsla(180, 20%, 14%, 1)")}
  100% { background: unquote("hsla(359, 20%, 14%, 1)")}
}

.AlignChildrenVertical {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 400;
}

.Accent {
  color: #D8315B;
  text-shadow: 2px 2px 0px #0A2463;
  font-weight: 800;
}

.WordCycler {
  position: relative;
  height: 1.4em;
  width: 8em;
  color: #0A2463;
  display: inline-flex;
  border-radius: 4em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #FFFAFF;
  padding: 0 0.8em;
  margin: 0 0.4em;
  white-space: nowrap;
  top: 4px;
  &.FastForward {
    .WordCyclePlane {
      animation-duration: 250ms;
    }
  }
  &.Settle {
    animation: none;
    .WordCyclePlane {
      animation: none;
    }
  }
}



.WordCyclePlane {
  animation: phase 1s infinite cubic-bezier(0.1, 0.51, 0.9, 0.63);
}

@keyframes phase {
  0% { transform: translate(0, -2em); }
  10% { transform: translate(0, 0); }
  90%   { transform: translate(0, 0); }
  100% {
    transform: translate(0, 2em);
  }
}

.WorkPanel {
  padding: 5vh 0;
  background: #222;
  color: #FFFAFF; 
}

.DogPanel {
  padding: 5vh 0;
}

.Doggo {
  max-width: 100%;
  margin: -4em 0;
  z-index: -1;
  position: relative;
}

@media (max-width: 695px) {
  .AlignChildrenVertical {
    flex-wrap: wrap;
    justify-content: center;
    > *:not(.WordCycler) {
      display: block;
      width: 100%;
    }
  }
}